In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

     A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.


     Minitab File : Cutlets.mtw

In [3]:
data=pd.read_csv(r"C:\Users\Mahesh\Desktop\data science\Asssignment\Hypothesis Testing\cutlets.csv")

In [4]:
data.sample(20)

    Unit A  Unit B
17  7.2705  7.4314
21  7.1560  7.4220
14  6.5797  7.1581
23  7.2854  7.1688
22  6.5341  6.5217
15  6.8394  7.0240
33  7.3943  6.5780
8   6.6840  7.2402
24  6.9952  6.7594
7   7.0621  6.6606
9   6.8236  7.0503
16  6.5970  6.6672
20  6.9438  6.8889
4   7.4488  7.1522
0   6.8090  6.7703
27  6.6801  6.9182
3   7.3012  6.7878
25  6.8568  6.9399
26  7.2163  7.0133
1   6.4376  7.5093

In [5]:
data.mean()

Unit A    7.019091
Unit B    6.964297
dtype: float64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  35 non-null     float64
 1   Unit B  35 non-null     float64
dtypes: float64(2)
memory usage: 688.0 bytes

In [6]:
data1=data.sample(20)

In [7]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 24 to 15
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unit A  20 non-null     float64
 1   Unit B  20 non-null     float64
dtypes: float64(2)
memory usage: 480.0 bytes

In [8]:
data1.mean()

Unit A    6.999985
Unit B    7.002145
dtype: float64

In [9]:
data1.std()

Unit A    0.289173
Unit B    0.309983
dtype: float64

# 2 sample and 1 tail

In [10]:
p=stats.ttest_ind(data1['Unit A'],data1['Unit B'])[1]

In [11]:
p

0.981939620623868

In [12]:
p/2

0.490969810311934

# Anova test

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
   
  Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
 
 
    Minitab File: LabTAT.mtw

In [15]:
df=pd.read_csv(r"C:\Users\Mahesh\Desktop\data science\Asssignment\Hypothesis Testing\LabTAT.csv")

In [16]:
df1=df.sample(40)

In [17]:
df1

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
80         188.99        186.03        205.54        164.98
117        202.48        174.54        203.99        170.27
36         185.28        173.56        199.91        133.31
78         168.39        170.73        180.94        159.97
115        178.49        170.66        193.80        172.68
16         172.00        183.07        212.29        176.44
68         201.27        148.70        215.17        181.76
108        166.35        167.72        208.33        126.94
114        145.89        175.16        203.39        139.34
59         169.83        161.02        180.11        181.35
86         166.97        178.17        208.35        162.76
76         164.88        167.90        184.70        153.74
113        154.21        193.79        197.88        192.23
48         216.39        193.28        177.76        161.42
75         168.62        198.69        193.63        165.07
5          179.45        197.00        181.51        161.12
0          185.35        165.53        176.70        166.13
71         159.13        186.93        225.14        177.03
1          170.49        185.91        198.45        160.79
65         161.99        202.78        173.08        145.07
73         195.85        159.14        237.23        138.48
22         178.24        199.43        205.31        166.21
25         176.13        180.45        231.76        132.21
72         143.52        168.20        213.18        124.06
27         177.38        189.99        201.78        154.06
49         180.57        178.04        207.34        153.97
15         172.17        155.73        214.14        156.06
41         169.55        171.31        203.58        154.55
10         174.75        189.12        231.00        171.22
95         171.64        188.49        202.95        167.62
35         181.69        179.32        200.58        174.79
47         188.63        187.52        170.58        166.68
46         184.88        173.09        229.33        170.28
70         172.62        189.65        199.70        162.11
82         190.88        158.08        197.33        168.92
92         186.32        165.45        174.55        157.21
6          191.37        166.36        214.21        154.02
37         157.14        217.86        190.34        176.42
110        172.05        174.43        211.64        152.31
56         179.08        157.92        183.10        174.83

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 80 to 56
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laboratory 1  40 non-null     float64
 1   Laboratory 2  40 non-null     float64
 2   Laboratory 3  40 non-null     float64
 3   Laboratory 4  40 non-null     float64
dtypes: float64(4)
memory usage: 1.6 KB

In [19]:
df1.mean()

Laboratory 1    176.27275
Laboratory 2    178.26875
Laboratory 3    201.00750
Laboratory 4    160.71025
dtype: float64

In [20]:
df1.std()

Laboratory 1    14.734134
Laboratory 2    14.809880
Laboratory 3    17.011573
Laboratory 4    15.425639
dtype: float64

In [21]:
import scipy.stats as stats
stats.f_oneway(df.iloc[:,0],df.iloc[:,1],df.iloc[:,2],df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

# chi-square test

      Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [22]:
d=pd.read_csv(r"C:\Users\Mahesh\Desktop\data science\Asssignment\Hypothesis Testing\BuyerRatio.csv")

In [23]:
d

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [24]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Observed Values  2 non-null      object
 1   East             2 non-null      int64
 2   West             2 non-null      int64
 3   North            2 non-null      int64
 4   South            2 non-null      int64
dtypes: int64(4), object(1)
memory usage: 208.0+ bytes

In [25]:
d.mean()

East     242.5
West     832.5
North    743.5
South    410.0
dtype: float64

In [26]:
from scipy.stats import chi2_contingency

In [27]:
d0=[[50,42,31,70],[435,1523,1356,750]]
stat,p,dof,expected = chi2_contingency(d0)
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('dependent(reject H0)')
else:
    print('independent(H0 hold true)')

p value is 6.715327566383993e-21
dependent(reject H0)

     TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

Minitab File: CustomerOrderForm.mtw

In [28]:
data2=pd.read_csv(r"C:\Users\Mahesh\Desktop\data science\Asssignment\Hypothesis Testing\Costomer+OrderForm.csv")

In [29]:
data2.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [30]:
Philippines_value=data2['Phillippines'].value_counts()
Indonesia_value=data2['Indonesia'].value_counts()
Malta_value=data2['Malta'].value_counts()
India_value=data2['India'].value_counts()
print(Philippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [31]:
data2.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [32]:
from scipy.stats import chi2_contingency

In [33]:
data3=[[271,267,269,280],[29,33,31,20]]
stat,p,dof,expected=chi2_contingency(data3)
alpha = 0.05
print("p value is"+str(p))
if p<= alpha:
    print("dependent(reject H0)")
else:
    print("independent(H0 hold true)")

p value is0.2771020991233135
independent(H0 hold true)